
.center-wrap {
	position: absolute;
	top: calc(25% - 100px);
	left: calc(25% - 125px);
	width: auto;
  text-align: center;
}
#NewNumbers{
  width: 150px;
  height: 50px;
  margin: 10px;
  font-size: 16px;
}
.Number {
  display: inline-block;
  margin: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.Number p{
  font-weight: bold;
}
form{
  display: block;
  text-align: center;
}
